<div class='row'>
  <div class='col s12'>
    <%= form_tag("/login", method: "post", class: "form") do %>
      <div class='row'>
        <div class='input-field col s12'>
          <%= label_tag :user, 'Username:', for: 'username' %><br>
          <%= text_field_tag :username, nil, placeholder: 'Enter Username', required: true, id: 'username', class: 'validate' %>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <%= label_tag :password, 'Password:', for: 'password' %><br>
        <%= password_field_tag :password, nil, placeholder: 'Enter Password',  required: true, id: 'password', class: 'validate' %>
      </div>
    </div>
      <%= submit_tag 'Login', class: 'btn waves-effect waves-light wide' %>
    <% end %>
  </div>
</div>
