<h3>Join MileLog</h3>
<div class='row'>
  <div class='col s12'>
    <%= form_for @user do |f| %>
      <div class='row'>
        <div class='input-field col s12'>
          <%= f.label :username, for: 'username'%>
          <br>
          <%= f.text_field :username, required: true, placeholder:'Enter Username', id: 'username', class: 'validate' %>
        </div>
        <div class='col s12'>
          <% if @user.errors.size != 0 %>
            <%= @user.errors.full_messages_for(:username)[0] %>
          <% end %>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s12'>
          <%= f.label :email, for: 'email' %>
          <br>
          <%= f.email_field :email, required: true, placeholder:'Enter Email', id: 'email', class: 'validate' %>
        </div>
        <div class='col s12'>
          <% if @user.errors.size != 0 %>
            <%= @user.errors.full_messages_for(:email)[0] %>
          <% end %>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s12'>
          <%= f.label :password, for: 'password' %><br>
          <%= f.password_field :password, required: true, placeholder:'Enter Password', id: 'password', class: 'validate' %>
        </div>
      </div>
      <%= f.submit class:'btn waves-effect waves-light wide' %>
    <% end %>

  </div>
</div>
