<div class='row'>
  <div class='col s12 center'>
    <h3><%= current_user.username %>'s Profile</h3>
  </div>
</div>
<div class='row'>

  <div class='col s12 m6'>
    <div class="card">
      <div class='card-content'>
        <span class='card-title'>Miles Driven:</span>
        <p>Total miles: <%= current_user.total_miles %></p>
        <p>Months Total Miles: <%= current_user.months_miles %></p>
        <p>Years Total Miles: <%= current_user.years_miles %></p>
      </div>
    </div>
  </div>
  <div class='col s12 m6'>
    <div class="card">
      <div class='card-content'>
        <span class='card-title'>Payday Totals:</span>
        <p>Total Pay: <%= current_user.total_pay %></p>
        <p>Months Pay: <%= current_user.months_pay %></p>
        <p>Years Pay: <%= current_user.years_pay %></p>
      </div>
  </div>
</div>
<div class='row'>
  <div class='col s12 m6'>
    <div class="card">
      <div class='card-content'>
        <span class='card-title'>Total Reimbursement:</span>
        <p>Total Reimbursement: <%= current_user.total_amount_back %></p>
        <p>Months Reimbursement: <%= current_user.months_amount_back %></p>
        <p>Years Reimbursement: <%= current_user.years_amount_back %></p>
      </div>
    </div>
  </div>
  <div class='col s12 m6'>
    <div class="card">
      <div class='card-content'>
        <span class='card-title'>Total Expenses:</span>
        <p>Total Expenses: <%= current_user.total_expenditures %></p>
        <p>Months Expenses: <%= current_user.months_expenditures %></p>
        <p>Years Expenses: <%= current_user.years_expenditures %></p>
      </div>
    </div>
  </div>
</div>
