<h3>Add Miles Driven</h3>

<div class="row">

  <%= form_for [current_user, @day], class: 'col s12' do |f| %>
    <div class='row'>
      <div class='input-field col s12'>
        <%= f.label 'Miles Driven:' %>
        <br>
        <%= f.number_field :miles, id: 'miles', class: 'validate', placeholder: 'How Much did you drive', step: 0.01, required: true %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label "Date Driven: (optional)" %>
        <br>
        <%= f.date_field :date_driven, class: 'datepicker validate', type: 'date' %>
      </div>
    </div>
    <%= f.submit class:'btn waves-effect waves-light wide' %>
  <% end %>
</div>
